[2016-12-02 11:34] WaDelma opened #118 "ORCIDs are saved into database as whole URI."
[EDIT: Since this was filed the ORCID display guidelines have changed. Per https://github.com/pkp/pkp-lib/issues/2059#issuecomment-462177342, a good resolution would be to add an upgrade script that converts existing `http` ORCID URLs to `https`. -AS]

Currently ORCIDs are asked to be written with whole URI (http://orcid.org/****-****-****-****) and saved as such into database.

orcid.org allows u

[2018-07-25 09:48] paflov opened #117 "Orcid https in ojs-stable-2_4_8"
Hi,
is it possible to include [this commit](
https://github.com/pkp/pkp-lib/commit/64bf222da7227faec67f2078ff368f54a8a6285b#diff-ff04162d69746bbe15f87ddde88ecd29) in pkp-lib into ojs-stable-2_4_8 branch of OJS? I would have made pull request, but I do not know how to deal with sumodule versions.
Best,
Paflov

[2018-11-29 10:28] nils-stefan-weiher opened #116 "Add ORCID icon to contributors grid row for authenticated ORCID ids"
Hi everyone,

during the work for pkp/pkp-lib#2818 and testing the new additions @alainna suggested, that it would be nice for editors to see at a glance which Authors have an authenticated ORCID id stored.

I talked with @NateWr in the pkp-dev Slack channel about this. He suggested something like this:

![selection_079](https://user-images.githubusercontent.com/2169369/49215680-9ba41d00-f3c9-11e8

[2019-07-02 02:36] SKhoo opened #113 "[OJS] orcidProfile writes empty URI after failed auth"
Hello

I recently encountered a problem with the orcidProfile plugin. After sending an authentication request email to an author without an account in the system, I found that their metadata had an empty orcid.org URI. They said that they were able to log into their account to authenticate their orcid, but got an error message saying the link had expired. From my orcid.log:

Once this happened, I

[2019-07-19 09:59] withanage opened #115 "ORCID Plugin enhancements for OJS 3.1.2 and beyond"
Following issues and enhancement requests are related, currently being developed or in discussion for the OJS 3.1.2 and 3.2 + support.

Description | Issue | Status  | area |
-- |-- | -- | --
 |Issue publish | pkp/pkp-lib#5572| :ok:  | Issue |
| Sandbox iDs | pkp/pkp-lib#4893 | :ok:  | Issue |
| datacite export |  pkp/pkp-lib#4903  | :construction:  | Issue|
| Empty URI after failed auth | pkp/orc

[2019-08-21 13:58] kaitlinnewson opened #110 "ORCID Plugin: Missing description in howAndWhy"
**Describe the bug**
Hi PKP Team,

It looks like the ORCID Profile Plugin is missing some text in the locale file, specifically in this entry:

[code]

This text also doesn't appear to be editable anywhere in the settings. It's probably a separate bug, but we weren't able to edit it in the Translator plugin either.

**To Reproduce**

This is visible in locale.xml, and can be seen in the UI under t

[2020-04-07 07:33] amandastevens opened #108 "Allow configuration of the ORCID ID as required"
Multiple publishers have requested the option to make the ORCID ID field mandatory for the submitting author on the submission form.  In cases where publishers require an author's ORCID ID, making the field required would save the publishers' time in tracking down missing IDs, as well as encouraging the use of ORCID in general.

This was requested on the forum: https://forum.pkp.sfu.ca/t/making-or

[2020-04-07 07:33] asmecher opened #109 "Implement emails to authors requesting ORCIDs in QuickSubmit submissions"
The ORCID Profile plugin allows the submitting user to request co-authors to authenticate their ORCIDs at the end of the submission process. It works by sending an email to these authors with instructions for linking their ORCIDs with the submission.

This currently does not work for QuickSubmit-based submissions; the email is never sent.

[2020-04-07 07:36] israelcefrin opened #111 "ORCID - JM doesn't fill in setting parameter fields"
**Describe the problem you would like to solve**
Some plugins require that information setting be provided. It is pretty common that editors enable the plugin and didn't provide any kind of setting parameter because they are not aware it should be done. And they don't know how to get it as well.

**Describe the solution you'd like**
Show the modal plugin settings when it is enabled from the dashbo

[2020-04-07 07:37] ctgraham opened #112 "orcidProfile plugin option for email is unimplemented"
**Describe the bug**
The orcidProfile plugin settings form offers an option "Send e-mail to request ORCID authorization from article authors on publication of a new issue", but this setting is not referenced anywhere in the code, so mail is always sent on publication.

Reported: https://forum.pkp.sfu.ca/t/ojs-3-1-2-1-orcid-collect-letters-cannot-be-disabled/55206

**To Reproduce**
Steps to reprodu

[2020-04-07 07:39] isgrim opened #114 "[OJS] orcidProfile Plugin: ORCID integration in User Register form broken"
Hi everyone and especially @Vitaliy-1 ,

@asmecher send an error message via teampkp Slack and I found out, that in 3.1.2 the [orcidProfile Plugin](https://github.com/pkp/orcidProfile) integration with the User Registration form is completely broken.

- [x] Pre-fill of the form fields is not working because of the name changes, see [OrcidHandler.inc.php#L137-L138](https://github.com/pkp/orcidProfi

[2020-04-08 10:27] NateWr opened #119 "Add pre-publication check to prevent publishing unauthenticated ORCID ids"
**Is your feature request related to a problem? Please describe.**
When an ORCID has been provided for an author, that ORCID should be authenticated. Editors may accidentally publish a submission without checking that all provided ORCID ids have been authenticated.

**Describe the solution you'd like**
v3.2 provides support for [pre-publication checks](https://forum.pkp.sfu.ca/t/what-pre-publicati

[2020-04-15 21:29] sheilarabun opened #121 "Add documentation on how to remove an ORCID iD that had been previously connected to an OJS author profile."
I had a really hard time finding documentation for how to remove an ORCID iD once one has already been connected to an author profile in OJS. (in my case, I was helping someone who had connected a sandbox ORCID iD to their actual OJS profile in order to test the plugin) I put together a tutorial with screenshots, please feel free to incorporate this into existing documentation: https://docs.google

[2020-04-16 11:30] xmlFlow commented on #121
Hi @sheilarabun ,

thanks a lot for this documentation, I will incorporate it in the orcid profile doucmentation.

[2020-04-16 11:31] withanage commented on #121
Hi @sheilarabun ,

thanks a lot for this documentation, I will incorporate it in the orcid profile doucmentation.

[2020-04-16 11:34] #121 closed

[2020-04-17 11:05] alexxxmendonca opened #122 "[OPS] Email tag {$authorOrcidUrl} returns invalid URL when used as a link"
**Describe the bug**
The tag `{$authorOrcidUrl}` generated a dynamic link that enables authors to connect their ORCID iD via the API. In order to make a more user-friendly link, instead of using the tag itself, the template suggests to add it to a link (ie: within an `a href`).

However, the platform is automatically adding a `../management/settings/` before the `{$authorOrcidUrl}` tag, which inva

[2020-04-22 17:55] alexxxmendonca opened #127 "[OPS] Authors can't associate ORCID ID after preprint is posted"
**Describe the bug**
After a preprint is posted, authors are unable to associate their ORCID ID to the metadata.

They see the following message after they click on the deeplink sent by e-mail:

![image](https://user-images.githubusercontent.com/4059679/80015813-a670bd80-84a8-11ea-8a03-05636845f072.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Submit a preprint.
2. Add co-authors; do

[2020-04-26 17:12] withanage commented on #117
Obsolete requirement due to  newer ORCID specifications.

[2020-04-26 17:12] #117 closed

[2020-04-27 05:18] ajnyga commented on #127
Thanks @withanage

Ok, I did not notice that it uses the citation plugin. There is now working version of the Citation Style Language Plugin or OPS, it has not been ported yet.

[2020-05-15 23:07] dagosalas opened #131 "400 Bad request: invalid JSON"
Hi !
I´m using ORCID membership, everything works fine, authorization, permissions etc. Only when an article is published, the plugin does not push orcid register and log file shows the following:

ERROR Unexpected status 400 response, body: {"response-code":400,"developer-message":"400 Bad request: invalid JSON - cvc-pattern-valid: Value '' is not facet-valid with respect to pattern '[\\s\\S]*[^\

[2020-05-15 23:17] asmecher commented on #131
@dagosalas, I see you've also posted this [on the support forum](https://forum.pkp.sfu.ca/t/ojs-3-2-0-3-orcid-400-bad-request-invalid-json/60587); let's discuss it there, and if it results in a confirmed bug, it can move here. (It's best to just post in one place.)

[2020-05-15 23:17] #131 closed

[2020-05-16 05:38] dagosalas commented on #131
I think those null values are the problem.

![Screenshot 2020-05-16 00 31 04](https://user-images.githubusercontent.com/21068555/82111856-7619e900-970d-11ea-87b7-e2b804b21314.png)

[2020-07-16 02:23] jmacgreg opened #142 "When using the sandbox API, the ORCID validator can't validate"
A regular ORCID ID looks like this (and must include the URL):

https://orcid.org/0000-0003-3530-156X

When a journal uses the sandbox options with the ORCID plugin, the ORCID IDs become:

https://sandbox.orcid.org/0000-0003-3530-156X

However the ORCID field validator isn't written to permit the inclusion of "sandbox" in the ID string. It should permit this option, only when the sandbox options a

[2020-08-04 13:32] jmacgreg opened #144 "Authenticated ORCIDs may display double icon"
**Describe the bug**
Originally filed at https://github.com/pkp/classic/issues/82. If an author authenticates their ORCID iD against a submission, the ORCID iD icon should display next to their name. But in this case, it will display twice.

**To Reproduce**
Steps to reproduce the behavior:

    Enable ORCID plugin
    ask an author to authenticate their ORCID iD
    publish the article

**Screens

[2020-08-04 13:39] NateWr commented on #144
My suggested approach is to have the plugin provide the full SVG file content as a template variable named `$orcidSvg`. This could be provided to every template. Themers can then display it where they want with:

[code]

[2020-08-25 10:02] withanage opened #148 "Orcid Plugin does not give an error message when the client secret is mispelled"
**Describe the bug**
User enters a wrong client secret.
Plugin saves the https://ordic.org in the database

**Expected behavior**

Give an error message, when user tries to authenticate with a wrong client password.

[2020-08-25 13:47] withanage opened #149 "Detect duplicate Authors using pre-publication checks"
**Is your feature request related to a problem? Please describe.**

https://forum.pkp.sfu.ca/t/check-for-duplicate-orcid/62453

**Describe the solution you'd like**
Check whether there are multiple co-authors with the same orcid id before article is published.

[2020-09-09 12:23] alexxxmendonca opened #150 "Pushing peer review information into researcher's ORCID record"
**Is your feature request related to a problem? Please describe.**
ORCID Members that are using Member's API have the possibility to adding peer review information into a researcher's ORCID record when they performed a review for a given journal that is an ORCID member.

However, currently the ORCID plugin for OJS/OPS doesn't allow that.

**Describe the solution you'd like**
Allow journals and pre

[2020-09-09 12:26] alexxxmendonca opened #151 "[OPS] Pushing works information into researcher's ORCID record"
**Is your feature request related to a problem? Please describe.**
ORCID Members that are using Member's API have the possibility to adding posted works into a researcher's ORCID record when their preprint gets posted.

However, currently the ORCID plugin for OPS doesn't do that.

**Describe the solution you'd like**
Allow preprint servers that are ORCID members to "push" works information into re

[2020-09-09 13:56] asmecher commented on #151
@withanage, I thought the plugin already supported this -- doesn't it?

[2020-09-09 14:00] alexxxmendonca commented on #151
Hey @asmecher! Just want to add that maybe it does in OJS, but it's not doing it for preprints. As we don't use OJS for publishing articles, I can't tell if it works for OJS either.

[2020-09-09 18:47] withanage commented on #151
@alexxxmendonca , I haven't tested in OPS, but in OJS  it works.

@ajnyga   have you tested this feature in OPS. Otherwise, I will have a look into it.

[2020-09-09 18:51] alexxxmendonca commented on #151
@withanage I will fix the title and issue description.

Thanks!

[2020-10-04 15:14] #144 closed

[2020-11-06 02:14] librariam commented on #122
+1 from PKP|PS, same issue is reported by a journal on OJS 3.2.0.2 with ORCID plugin v1.1.2.3

Also related reports [in this Forum thread](url)

[2020-11-09 07:17] withanage commented on #122
Hi @librariam @alexxxmendonca ,

I have tested the OPS for this problem yesterday.

I have looked into the problem, as you have described and it i  a general  problem in the template mechanism that always the current url gets added tp any  tiny mce links (both in OPS and OJS  3.2  +)

Problem is not only orcid  specific , other emails we did not have the links, therefore it was not visible.

I  wi

[2020-11-12 23:17] sheilarabun opened #158 ""Deny" workflow during OAuth process"
Currently, when a user goes to connect their ORCID iD to OJS, if the user clicks "deny" as opposed to "authorize" on the ORCID OAuth screen, the user is just re-directed back to the same page they were on previously and the option to "create or connect ORCID iD" disappears unless the user refreshes the page.

The best practice, upon a user clicking "deny" during the OAuth process, is to  display a

[2020-11-15 13:26] withanage commented on #122
@alexxxmendonca @librariam

As assumed this was a general problem for URL editions in   -The wysiwig editor. I have added a patch for that and   update you as soon it is in the main OJS/OMP code.

[2020-11-16 20:23] amandastevens commented on #150
One of PKP PS's hosted clients requested this feature as a way to incentivize reviewers to contribute to a journal. "Some journals have a hard time incentivizing reviewers and are wondering if the ORCID plugin can be used to ingest review metadata from OJS into ORCID. This might be an additional incentive to potential reviewers."

[2020-11-17 15:23] NateWr commented on #122
This was fixed as part of https://github.com/pkp/pkp-lib/issues/6344. The fix will go out with 3.3 and 3.2.1-3.

[2020-11-17 15:23] #122 closed

[2020-12-09 14:32] librariam commented on #115
+1 from PKP|PS re #113 - encountered it on 3.2.1.1 (not sure of the ORCID plugin version at the time since I updated it to v1.1.2.6 after the bug happened).

[2020-12-23 18:27] librariam commented on #115
+1 more from PKP|PS re #113 on 3.1.2.4, plugin v. 1.1.1.5
An added consequence here is that the incomplete URL in the ORCID iD field breaks Crossref XML export. There is no easy way to remove it without disabling the plugin.

[2020-12-23 22:11] librariam commented on #113
@withanage do you think this could be addressed in upcoming plugin updates? We are getting a number of tickets related to this bug in PKP|PS. Please see my comments in #115 - thank you!

[2020-12-28 14:36] withanage commented on #115
Hi  @librariam ,
Thanks for the info.
I will look  into this issue in the next release.

[2021-01-18 17:58] withanage opened #161 "Validate Client-Id and secret in Settings and en-/disable plugin"
**Is your feature request related to a problem? Please describe.**

Journal managers / journal editors configure the plugin incorrectly in the settings.

Possible reasons

- Incorrect ORCID-Token  - 64 characters string
- Incorrect Client-ID - (APP-[\da-zA-Z]{16}|(\d{4}-){3,}\d{3}[\dX])
- Missing ORCID-Token and/or Client-ID

**Describe the solution you'd like**

Disable the plugin for users and c

[2021-01-18 18:15] withanage commented on #161
FYI @sheilarabun

[2021-02-10 14:25] ctgraham opened #164 "Fatal error when used on site registration"
**Describe the bug**
Plugin causes 500 error on the registration page in the site context.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable orcidProfile pluigin
2. Initiate registration within the site context
3. See error: `PHP Fatal error: Uncaught Error: Call to a member function getId() on null`

**Expected behavior**
Either registration using the orcidProfile plugin works within t

[2021-02-18 21:58] asmecher commented on #164
Another report of this on the forum: https://forum.pkp.sfu.ca/t/after-upgrade-to-ojs-3-2-1-3-orcid-plugin-producing-fatal-error/65473/17

[2021-02-18 22:01] asmecher commented on #164
@ctgraham, at a glance, it shouldn't be possible to enable the ORCID plugin site-wide. Do you know how you did that?

[2021-02-18 22:03] ctgraham commented on #164
I think I just depended on the report from the forum rather than reproducing it locally.

[2021-02-19 10:59] withanage commented on #164
@asmecher , it is actually possiblie to enable is sitewide using the config.inc.php

@ctgraham

I would prefer  for disabing  the functionality for the site-index , cause the users generally do not need the orcid functionality f without context.

[2021-02-28 20:50] withanage commented on #161
@sheilarabun

I have released the following plugin versions addressing this.

OJS 3.1 https://github.com/pkp/orcidProfile/releases/tag/v1_1_1-12
OJS 3.2 https://github.com/pkp/orcidProfile/releases/tag/v1_1_2-7

Both versions are available in Plugin-Gallery.

**Remarks**
- Validation rule for client secret is from 36 to 64 characters. It is a loose-mechanism, but at lease will check for a-f letter

[2021-02-28 21:18] withanage commented on #164
I have released the following plugin versions addressing this.

OJS 3.1 https://github.com/pkp/orcidProfile/releases/tag/v1_1_1-12
OJS 3.2 https://github.com/pkp/orcidProfile/releases/tag/v1_1_2-7

I will ask the forum users to do  functional tests.

OJS 3.3 will follow soon.

[2021-03-07 17:21] withanage commented on #161
OJS/OPS 3.3 version  with this issue requirements  released
- https://github.com/pkp/orcidProfile/releases/tag/v1_1_2-14

[2021-04-11 16:43] withanage commented on #164
Since there aren't complains about the issue and most of the forum users confirm, I am closing this ticket and if there are any further requests, we can open a  new issue.

[2021-04-11 16:43] #164 closed

[2021-04-11 16:59] #161 closed

[2021-04-11 17:38] withanage opened #171 "Support API Version 3.0"
#### ORCIP API Version 3

https://info.orcid.org/orcid-api-3-0-is-here/

|Product  | Version | Release | Submodule update |
| ---  | --- | --- | --- |
| OJS  | 3.3.1 | [1.1.2.17](https://github.com/pkp/orcidProfile/releases/tag/v1_1_2-17) |[#PR3130](https://github.com/pkp/ojs/pull/3130)
| OJS  | 3.3.0 |[1.1.2.17](https://github.com/pkp/orcidProfile/releases/tag/v1_1_2-17) | [#PR3129](https://githu

[2021-04-12 16:40] sheilarabun opened #172 "Update text in email that is sent to authors asking them to connect their ORCID iD with OJS"
We have received feedback from journal editors asking to update the email text in the email that gets sent to authors asking them to connect their ORCID iD with a journal - the goal is to make the email text more clear to indicate exactly who is asking for permission to get their ORCID iD and write the work to ORCID.

Currently the email says: "Please allow us to add your ORCID id to this submissi

[2021-04-12 19:51] asmecher commented on #172
@sheilarabun, you can propose changes to the email wording either by...
- working with Weblate (https://translate.pkp.sfu.ca/translate/orcid-profile-plugin/emails/en_US/?type=all)
- opening a pull request proposing changes to https://github.com/pkp/orcidProfile/blob/main/locale/en_US/emails.po

 Would you be able to give either of those a crack?

I'm not sure about adding the application name (e.g

[2021-04-27 03:03] davidjb commented on #142
I've noticed this when testing this plugin on OJS 3.3; saving any forms with ORCID iD fields on them (e.g Profile -> Public; Edit User) fail to save, requiring the ORCID iD field to be a maximum of 37 characters, the length of the URL without the `sandbox.` prefix.

[2021-04-29 19:34] nuest commented on #171
I would add

- contributer roles (based on CRediT) to the list of potentially relevant features, see https://info.orcid.org/credit-for-research-contribution/

Though that certainly is not a small task as it would require quite a few extra forms for the author to fill out.

[2021-05-02 20:31] withanage commented on #142
@davidjb  the lengh of the orcid ids are counfigured in ojs. I will take this into account in the next release.

[2021-05-02 21:58] withanage commented on #142
Hi @davidjb ,

This needed changes to main OJS pkp-lib library and the plugin code base. I have requested a review from @asmecher .
As soon as he has reviewed , I  will  integrate the  changes and release appropriate versions OJS/OPA 3.3.0, 3.3.1 and OJS/O
PS 3.2.1
Please bear with me, that the plugin will be relased, after the  ORCID API 3 update.  https://github.com/pkp/orcidProfile/issues/171

[2021-05-03 17:58] mew2232 commented on #150
We would love to have this feature to use across our OJS sites. Our student journals in particular find that offering recognition is key in attracting peer reviewers and Publons is not a good option for our program's size/budget. We would love to be able to utilize our ORCID membership through the same plugin that we use for authenticating author records so that we don't have to use our more than

[2021-05-07 22:29] #142 closed

[2021-05-20 13:35] librariam opened #177 "ORCID plugin should not function without credentials entered"
**Is your feature request related to a problem? Please describe.**
Here is the most common scenario and a source of 99% of ORCID-related tickets filed with PKP|PS:

- A JM/JE enables the plugin without obtaining/entering credentials
- Authors start receiving ORCID emails with sandbox URL which does not work
- JM/JE report this as a tech issue with the plugin
- Following the explanation & instructi

[2021-05-20 20:33] asmecher commented on #177
@withanage, this would be a good improvement to include in the next release.

[2021-05-22 20:15] withanage commented on #177
@librariam @asmecher

sure, I will add the  following settings into the next release.

1.     an additional checkbox within the plugin settings that will not become active until credentials are entered and validated

1.     disable the plugin unless credentials are entered

1. a pop up when enabling the plugin that alerts the JM/JE that it needs to be set up + link to the ORCID guide

@asmecher ,

[2021-05-22 20:33] withanage commented on #171
This issue will be closed and potential functional additions  will be  separately  addressed.

[2021-05-22 20:34] #171 closed

[2021-05-22 20:36] withanage opened #180 "Explore potential feature enhancements of orcid API version 3.0"
###  Potential relevant features for  recommendation OJS/OPS

-  Affiliation types
- Work types -  ‘preprint’ and ‘software’
-  Funding
- Reviewer Information

### Changes

- [ v 2.1 -> V3.0](https://github.com/ORCID/orcid-model/tree/master/src/main/resources/record_3.0#changes-from-version-21)

### Doc
[API 3.0](https://api.sandbox.orcid.org/v3.0/#/Development_Member_API_v3.0)

### User requests

[2021-05-25 16:05] alexxxmendonca commented on #151
This has been fixed with the release of ORCID Profile plugin v1.1.2.18.

👍

[2021-05-25 16:05] #151 closed

[2021-05-25 22:40] asmecher commented on #177
@withanage, just off the top of my head, the PLN plugin had some conditions that were required in order for the plugin to be enabled:
https://github.com/pkp/pln/blob/ojs-stable-3_1_2/PLNPlugin.inc.php#L375

[2021-06-06 13:10] withanage opened #181 "Reviewer Credits"
#### Review functionality

https://user-images.githubusercontent.com/1921992/143842439-6bda500e-ae19-4f38-a983-5dfc9be781a3.mp4

#### Reviewer Anonymity metadata transfer concept

| Information | Orcid Field | Anonymous | Open |
| --- |  --- | --- | --- |
| 1. Date of submission | created-date | YYYY | YYYY-MM-DD |
| 2. Date of acceptance  (review)|  review-completion-date | YYYY | YYYY-MM-DD |
|

[2021-06-06 18:51] withanage commented on #181
Hi @asmecher,

I have gone through the requirements from orcid.org of adding o reviewer information for the orcidPlugin.

Most of the  requirements seem to be supported directly from OJS, but for the points 4 and 10, I think we have to think for a solution,  what is the best possiblie solution. i am not sure , if 4 or 10 was already adressed by any plugins ?

[2021-06-11 14:06] bibliothekswelt commented on #115
When an article is pushed to my ORCID profile via the ORICD plugin, it seems to be, that only the URL of the article is transmitted but not the DOI. Is it possible to transmit the DOI, too? We are synchronyzing our local repository with ORCID (for users which have an ORCID iD) but we are only using the DOI for this mechanism. If an article gets pushed to an ORCID profile it can make it's way to ou

[2021-07-26 16:27] withanage commented on #177
Hi @librariam ,

I have implemented the plugin as per your definition, before releasing it and doing some more testing, I wanted to ask, if the implementation corresponds to your requirements.

Here is the workflow.
1.  At the beginning plugin is disabled.
1.  Settings is available  _also_ when the plugin is disabled.
1. Status shows about the status of the plugin. (I will link the plugin doc here

[2021-07-26 21:34] librariam commented on #177
Thank you @withanage . Just to clarify - what would be the behaviour if someone tries to enable the plugin without entering credentials?

[2021-07-26 21:39] withanage commented on #177
@librariam  , users cannot enable the plugin, until they enter credentials (valid) through the backend.  They can click the enable plugin, but it will not enable it.

[2021-07-30 16:15] librariam commented on #177
@withanage thank you, this is great! Not being able to enable the plugin without entering valid credentials is exactly what we're after!

[2021-08-30 17:20] withanage commented on #177
@librariam

I have released this enhancements for

- OJS/OPS 3.3
https://github.com/pkp/orcidProfile/tree/v1_1_2-21

- OJS/OPS 3.2
 https://github.com/pkp/orcidProfile/releases/tag/v1_1_2-20

and integrated in the plugin-gallery.

[2021-08-31 12:38] marcoblancas opened #190 "failing upgrade to 3_3_0-8"
Upgrading OJS from 3_3_0-7 to 3_3_0-8 I get this error

[code]

plugin is deployed with git.

`git submodule update --init --recursive`

was done.

I'm in tag tag: v1_1_2-21, tag: 3_3_0-8

[2021-08-31 14:54] asmecher commented on #190
@marcoblancas, yes, there was an accidental change that introduced a PHP7.3 requirement for the ORCID profile plugin. There's already an updated ORCID profile plugin that removes this (see https://github.com/pkp/orcidProfile/pull/189/files), and I'll move the 3_3_0-8 tag shortly to include the fix.

[2021-08-31 14:54] #190 closed

[2021-08-31 14:55] asmecher commented on #190
(Closing as a duplicate of https://github.com/pkp/orcidProfile/pull/189)

[2021-09-01 17:20] asmecher commented on #190
@marcoblancas, the tag was moved as of yesterday! Please try again and let me know here if you have any trouble.

[2021-09-01 18:45] marcoblancas commented on #190
But 3_3_0-8 is still pointing to v1_1_2-21

![imagen](https://user-images.githubusercontent.com/5545390/131724425-341956b6-4266-4aa2-92e2-0e9da357ad9a.png)

I thought it was required to point 3_3_0-8 to v1_1_2-22

[2021-09-02 16:29] marcoblancas commented on #190
@asmecher , I'm not sure if you received my last comment because I didn't quote you. As you can see in the previous screenshot I see 3_3_0_8 tag pointing to the previous version.

[2021-09-02 23:29] asmecher commented on #190
@marcoblancas, whoops, I thought you were talking about the tag in the `ojs` repo. I've updated the tag on `orcidProfile` too.

[2021-09-03 18:43] marcoblancas commented on #190
@asmecher , thank you. Now I was able to upgrade cleanly our site.

[2021-09-17 20:16] asmecher commented on #177
@withanage, is this issue ready to be closed?

[2021-09-17 20:17] asmecher commented on #112
@ajnyga, the PRs above were merged -- is this issue ready to be closed?

[2021-09-17 20:41] withanage commented on #177
@asmecher    There was no bugs  reported  after adding the functionality in around 2 weeks.  Yes,  I will close it.

[2021-09-17 20:41] #177 closed

[2021-10-31 20:00] withanage commented on #181
Hi @NateWr

I have taken the out mapping part here for disucussion.  My suggestion  was  that may be the numbered metadata fields can be published openly for the various reviewer types without disclosing the anonymity.

#### Mapping

| Identity transparency  | Accept Submission | Revisions Required  | Resubmit for Review  | Resubmit Elsewhere | Decline Submission | See Comments |
| --- |  ---- |

[2021-11-01 09:22] NateWr commented on #181
@withanage What do the recommendation columns mean in the table? Does it matter what decision the reviewer takes?

[2021-11-01 20:34] withanage commented on #181
@NateWr : actually other than the comments , it does not matter, I added only for  completeness. For the comments,  I was not 100% sure ,cause the reviewer may opt for not reviewing by giving a reason as a comment. I think in this case, it may be better as you suggested  https://github.com/pkp/orcidProfile/issues/181#issuecomment-953651783  to   trigger the orcid API communication, at the moment w

[2021-11-02 10:02] NateWr commented on #181
Yeah, I think that reviewers often use See Comments even when they include a review, but don't want to choose a pre-selected recommendation. I think we should expect to send it on to ORCID unless the editor does something.

In terms of what data to send to ORCID, I feel like we should probably send all the data in all cases. It should be up to ORCID to decide what to show depending on whether the

[2021-11-02 22:24] withanage commented on #181
@NateWr  thanks for the abstraction. Yes, I missed the review-url totally and  I will take i the above table as the specification.

[2021-11-02 23:14] withanage commented on #181
@NateWr

Quote:

In  a quick overview, we could delete them. I will have a look into it in more detail and come with a proposal.

[2021-11-03 09:32] NateWr commented on #181
I suspect it's going to be very rare that a submission will go through reviews but then those reviews should be withdrawn from orcid. I know I raised this issue, but on second thought, I think we can leave this to ORCID to sort out. People delete submissions for lots of reasons in OJS, and most of the time the review credit should remain with ORCID.

[2021-12-02 16:58] #181 closed

[2021-12-06 14:00] librariam commented on #115
+1 more from PKP|PS re #[113 ](https://github.com/pkp/orcidProfile/issues/113) on 3.2.0.2, plugin v. 1.1.2.3

[2021-12-06 14:09] librariam commented on #115
@withanage do you have any update on #[113 ](https://github.com/pkp/orcidProfile/issues/113)? We get reports about it from editors fairly regularly and it's a pain to deal with after the partial URL is recorded. Thank you for taking a look!

[2021-12-20 16:59] librariam commented on #113
Hi @withanage we are currently seeing the issue in 3.2.0.2.

It appears it's not possible to rectify the issue by removing and recreating the contributor and having them complete ORCID authorization again - the empty URL keeps being written into their contributor profile. I guess disabling the ORCID plugin to write the URL manually and then enabling it again as described above is the only interim

[2021-12-29 15:45] librariam commented on #113
We have received a report from a 3.2.1.2 journal of 5 authors encountering the same problem. The plugin version is 1.1.2.20 and it's the latest that it could be upgraded to.

[2022-01-04 21:54] asmecher commented on #113
Assigning you for a look, @withanage!

[2022-01-09 22:26] withanage commented on #113
@librariam  coming back from holidays. Will add a update to this in the next release.

[2022-01-16 23:34] withanage commented on #113
@librariam

I have gone through this problem and found 2 issues, which created the problem.
1. Deleting a sandbox id is not allowed in OJS (main OJS code)
2. Redirect URL does not include the publication id (in some cases, depending on the browser)

#
1. I had already fixed the [Sandox url issue](https://github.com/pkp/pkp-lib/commit/687550f052ea291d7010d959258e4998efa8a913#diff-d825c588dc7cdd8c10

[2022-06-23 21:48] librariam commented on #113
@withanage I wanted to double-check whether I understood correctly that the issue with ORCID writing partial URL was fixed in the v1.1.2.26 release? We are getting reports from journals on that version that it's still an issue. It's the latest version compatible with 3.2.1 but we can recommend an upgrade to 3.3 if there's a fix in a later release - thank you for clarifying.

[2022-06-24 14:56] withanage commented on #113
@librariam

Actually, they  don need a OJS update to get the partial URL problem to be fixed.  Can you point me offline to an  one use case. In some rare occations, I had the issue that some university email clients encrypt the URLs and the decryption is led to an issue of registering. Wanted to rule out that is not the case.

[2022-06-27 07:37] hauschke commented on #172
We just had an author writing to us with the suggestion that emails.orcidCollectAuthorId.body should include the manuscript {$submissionTitle} like in emails.orcidRequestAuthorAuthorization.body. This is maybe in line with what's being discussed here: A clarification for what the ORCID authorization is needed.

CC @nuest

[2022-07-01 17:24] asmecher opened #206 "Contributor roles are incorrect"
**Describe the bug**
The ORCiD profile plugin has been updated to use the ORCiD v3 API.

The ORCiD v3 API has adopted the use of CRediT roles (https://info.orcid.org/documentation/integration-and-api-faq/#easy-faq-2721). However, the ORCiD profile plugin [still appears to use the old v2 vocabulary](https://github.com/pkp/orcidProfile/blob/main/OrcidProfilePlugin.inc.php#L51).

Unless I've misread,

[2022-07-01 20:13] asmecher commented on #206
Unfortunately CRediT does not distinguish between authors and translators. I've contacted CRediT to see if they have some way/plan to preserve the distinction between author and translator that was previously possible, but unless they say yes, it seems that we can assume an authorship role (http://credit.niso.org/contributor-roles/writing-original-draft/) when CRediT data is not otherwise specifie

[2022-07-01 20:38] asmecher commented on #206
This proposed implementation of CRediT support also covers this issue:
https://github.com/pkp/orcidProfile/pull/207

[2022-07-09 22:18] withanage commented on #150
This issue was addressed in https://github.com/pkp/orcidProfile/issues/181.
Thus closing.

[2022-07-09 22:18] #150 closed

[2022-07-09 22:30] withanage opened #208 "Website context login generates fatal error when orcidProfile is enabled"
**Describe the bug**
Website context login generates fatal error when orcidProfile is enabled

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost/ojs/index.php/index/user/register
2. See error

**Expected behavior**
Oricd Authentication must be avaliable for only journals

**Screenshots**
[code]

**Desktop (please complete the following information):**
 - OS: any
 - Browse

[2022-07-10 23:02] withanage commented on #113
@librariam
Hi Mariya,
I have released a plugin  addresseing this issue.
https://github.com/pkp/orcidProfile/releases/tag/v1_1_2-28

Best,
Dulip

[2022-07-25 18:51] Vitaliy-1 opened #210 "Refactor email sending code to use new mailing system"
**Is your feature request related to a problem? Please describe.**
ORCID plugin sends an email with an authorization link to the author, it uses the old `MailTemplate` class to compose and send it.

**Describe the solution you'd like**
Refactor the code to use the new mailing system. E.g., create 2 new classes extending `pkp\mail\Mailable`, which represent 2 types of emails sent to the author; use

[2022-07-27 11:17] #208 closed

[2022-07-29 21:17] withanage opened #211 "Website context login generates fatal error when orcidProfile is enabled"
**Describe the bug**

Issue is described in the  OJS 3.2.1 version of the plugin in #208

[2022-08-03 13:56] withanage commented on #113
Hi @librariam  could you test the new version ?

[2022-08-03 14:06] withanage opened #214 "Plugin writes an empty https://[sandbox].orcid.org by failed communication"
**Describe the bug**

Plugin writes an empty https://[sandbox].orcid.org by failed communication

**To Reproduce**
Difficult scenario to recreate on API status, network or other third party or unkown factors.

**Expected behavior**

- Clear and consise message, what has happened
- Do not write the orcid url without the id into the database

[2022-08-05 12:15] withanage opened #216 "Writing tests to test the orcid API and the user interface."
**Issue**

- Manual testing of Orcid functions is resource intensive (E-mail send, E-mail verification through malinator, publishing article, checking pushed orcid record)

**Describe the solution you'd like**
- Automation of the above tasks

[2022-08-07 20:36] #211 closed

[2022-08-12 00:00] asmecher commented on #211
@withanage, don't forget the release management to go with this; https://github.com/pkp/orcidProfile/milestone/1 should be updated to accurately reflect the issues that were resolved in it, and if it's been released, that milestone should be closed (and another created for the next minor issues).

[2022-08-12 06:09] #113 closed

[2022-08-12 06:20] withanage commented on #211
@asmecher , Thanks for review. I  forgot that. Have closed the milestones and added new ones accordingly.

[2022-08-12 06:22] withanage commented on #127
@ajnyga
Was there any update in the OPS for the citation plugin during the last days ?

[2022-08-12 10:12] #214 closed

[2022-08-12 11:07] alexxxmendonca commented on #127
@withanage the Citation Style Language Plugin plugin has been ported to OPS by the folks of Lepidus. We've been using it for a while now.

[2022-08-16 22:11] withanage opened #217 "Orcid code string validation error"
Orcid id String validation error in code

[code]
Should be

[code]

[2022-08-31 07:23] klausru commented on #181
Dear @withanage
can you confirm that the delivery of Reviewer Credits towards ORCID really works for ORCID Members in production mode? From reading the above I wasn't sure if this feature is mature and out of alpha status.
In addition to that: We are planning to become member of ORCID. Is there any script or trigger to deliver back issues / reviewer data to ORCID from past reviews? I wouldn't want

[2022-08-31 10:01] withanage commented on #181
Hi @klausru ,

The functionality  can be used for production purposes.

no, unfortunately there isn't a script for re-publish in the current version and is also not planned currently.

[2022-09-15 22:07] withanage opened #221 "OPS does not push author works to the orcid API"
**Describe the bug**
In some installations , the data does not seem to be published into orcid. Scielo  has an example server.

**Additional context**
- PHP 7.3.33
- OPS  3.3.0.10
- ORCID Profile Plugin 1.1.3.4

[2022-09-15 22:12] withanage commented on #221
Extended logging for debugging.
-
[OrcidProfile.zip](https://github.com/pkp/orcidProfile/files/9579327/OrcidProfile.zip)

[2022-09-22 09:00] withanage opened #222 "Update the about page in the plugin to reflect the current status"
**Is your feature request related to a problem?**

Some information on about  page is outdated, and some of the links on the page are broken, but the info can only be updated using the Custom Locale Plugin

**Describe the solution you'd like**

- Fixing a typo / misspelling on the word "connecting" (should be connected)
- Updating the link to [this article](https://info.orcid.org/six-ways-to-make-

[2022-09-22 09:04] withanage commented on #222
FYI @kshuttle

[2022-09-22 11:27] withanage commented on #221
### Extended logging for debugging.
[OrcidProfile.tar.gz](https://github.com/pkp/orcidProfile/files/9625188/OrcidProfile.tar.gz)

[2022-09-29 10:59] Vitaliy-1 commented on #210
PR: https://github.com/pkp/orcidProfile/pull/223

[2022-09-29 13:02] Vitaliy-1 commented on #210
This refactors email creation/sending and template variables assignment according to the current state of OJS main.
@withanage, can you take a look at this one? Tests are OK but I don't know if they cover emails.

[2022-10-23 15:10] touhidurabir opened #224 "Unable to complete submission due to failed attempt to convert LazyCollection into array"
**Describe the bug**
New Submission can not be completed or proceed to next step because of a failed attempt to convert a LazyCollection into an array . This cause to halt the proceeding to next step and those `Fatal Error`

**To Reproduce**
Steps to reproduce the behavior:
1. Login as Author
2. Create a new submission
3. Proceed to the step 3 that is `Enter Metadata` stage.
4. Fill up the require

[2022-10-23 15:18] touhidurabir commented on #224
@asmecher can you please review the PR at https://github.com/pkp/orcidProfile/pull/225

[2022-10-24 15:59] touhidurabir commented on #224
@asmecher sure .